.header {
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    background-color: #FCF6E4;
}

.header img {
    width: 30px;
}

.loginBlock {
    justify-self: right;
}

.loginBlock a {
    padding: 10px;
    color: #647780;
}

.logoTitle{
    padding: 5px;
    color: #647780;
}