.nav {
    grid-area: b;
    background-color: #AFD1E0;
    padding: 5px;
}

.item a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0 2px;
    display: block;
}

.item a.active {
    color: #647780;
    background-color: #FCF6E4;
    border-radius: 5px;

}